[submodule "absolute-other-owner"]
	path = absolute-other-owner
	url = https://github.com/rails/spring
[submodule "absolute-mine"]
	path = absolute-mine
	url = https://github.com/chesterbr/ruby2600
[submodule "absolute from other, 404"]
	path = absolute from other, 404
	url = https://github.com/chestergeo/dead-repo
[submodule "bogusrepo"]
	path = bogusrepo
	url = ../../bogususer23525235/bogusrepo
